@font-face {
  font-family: "Sono";
  /* src: url("../../public/Sono-Regular.ttf"); */
  src:url("../public/Sono-Regular.ttf")
}

.main_container {
    background: linear-gradient(black, rgb(38, 38, 38));
    display: flex;
    font-family: "Sono";
}

.sidebar {
  flex-basis: 20%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white
}

.sidebar_title {
  text-align: center;
  font-size: 35px;
  color: #B4184C;
  font-weight: bold;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 20px;
  border-bottom: #333 solid 1px;
}

.sidebar li:hover {
  color:#ffe6c4;
}

.category_choices:hover {
  cursor: pointer;
}

.forum_page {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    height: 100vh;
    flex-basis: 80%;
    overflow-y: scroll;
}
  
.latest_posts {
  margin-bottom: 20px;
}

.type_of_post {
  color: white;
  margin: 5px;
  font-size: large;
}

.backhome_div {
  cursor: pointer;
}
  
.categories ul,
.latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.categories li,
.latest-posts li {
  margin-bottom: 10px;
}
  
.categories li:hover,
.latest-posts li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search_posts form {
  display: flex;
}
  
.search_posts input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.search_posts button[type="submit"] {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
  
.search_posts button[type="submit"]:hover {
  background-color: #ffe6c4;
  color: black;
}

.navbar_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar_modal_content {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.navbar_modal_close {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar_modal_links {
  display: flex;
  flex-direction: column;
}

.navbar_modal_text {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar_modal_title {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .main_container {
    background: linear-gradient(black, rgb(38, 38, 38));
    display: block;
  }
}