#screen {
  height: calc(100vh - 95px);
  width: 100%;
}

#content { 
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  width: 100%;
}

#subject{
  height: 100%;
  width: 50%;
}

#editor_opt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height:5%;
  width:100%;
}

#editor_edit{
  display:flex;
  height:85%;
  width:100%;
}

#lang_choice {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

#theme_choice {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.form-check-label{
  color: #ffe6c4;
}

.form-check-input{
  box-shadow: 0 0 0.75em 0 rgba(255, 230, 196, 0) !important;
  border-color: #ffe6c4 !important;
  background-color: #202020 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 230, 196, 255' /%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:focus {
  background-color: #ffe6c4;
}

.form-check-input:checked {
  box-shadow: 0 0 0.75em 0 rgb(255, 230, 196) !important;
  background-color: #ffe6c4 !important;
  border-color: #ffe6c4 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 255'/%3e%3c/svg%3e") !important;
}

#simulate{
  color: #ffe6c4;
  border-color: rgba(0,0,0,0);
}

#simulate:focus {
  box-shadow: 0 0 0.75em 0 rgb(255, 230, 196);
  border-color: #ffe6c4;
}

#simulate:hover{
  box-shadow: 1% 1% 1% 1% #ffe6c4;
  background-color: #ffe6c4;
  color: #202020;
}

#upload{
  color: black;
  background-color: #ffe6c4;
  border-color: rgba(0,0,0,0);
}

#upload:focus {
  box-shadow: 0 0 0.75em 0 rgb(255, 230, 196);
  border-color: black;
}

#upload:hover{
  background-color:black;
  color: #ffe6c4;
}

#editor{
  display: flex;
  flex-direction: column;
  flex: 1;
  height:100%;
  width:50%;
  background-color: #343434;
}

#submit-button {
  width: 100%;
  height:10%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

#tutorial-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #202020;
}

#text {
  color: whitesmoke;
}

#zone-text {
  padding: 15px 30px;
  color: white;
}

#loading-text-tutorial {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  height: 100%;
  padding-top: 10%;
}