.usersAdmin-component {
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    border: solid black 2px;
}

.usersAdmin-title {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
    color: white;
    cursor: pointer;
    font-family: "Euclid Circular B", sans-serif;
    font-size: 20px;
} 

.usersAdmin-title-div {
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.admin-dashboard-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
}

.admin-widget {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    height: 250px;
}