.timeline_post {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border: 3px solid rgb(38, 38, 38);
    border-radius: 20px;
}

.timeline_post:hover {
    border: 3px solid #ffe6c4;
}

.timeline_post_title {
    color: white;
}
  
.timeline_post_header {
margin-bottom: 10px;
}
  
.timeline_post_header h2 {
font-size: 18px;
margin-bottom: 5px;
}
  
.timeline_post_header small {
color: #888;
}
  
.timeline_post_details {
display: flex;
justify-content: space-between;
align-items: center;
}
  
.timeline_post_details span {
color: #888;
font-size: 14px;
}

.category_name_post {
    color: #ffe6c4;
    font-weight: bold;
}