.timeline_post {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border: 3px solid rgb(38, 38, 38);
    border-radius: 20px;
    margin-right: 15px;
}

.timeline_post:hover {
    border: 3px solid #ffe6c4;
}

.timeline_post_title {
    color: white;
}
  
.timeline_post_header {
margin-bottom: 10px;
}
  
.timeline_post_header h2 {
font-size: 18px;
margin-bottom: 5px;
}
  
.timeline_post_header small {
color: #888;
}
  
.timeline_post_details {
display: flex;
justify-content: space-between;
align-items: center;
}
  
.timeline_post_details span {
    font-size: 14px;
    font-weight: bold;
    color: rgb(9, 255, 0);
}

.category_name_post {
    color: #ffe6c4;
    font-weight: bold;
}

.timeline_post_last {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border: 3px solid rgb(38, 38, 38);
    border-radius: 20px;
    margin-right: 15px;
}

.timeline_post_last:hover {
    border: 3px solid #ffe6c4;
}

.timeline_post_title_last {
    color: white;
}
  
.timeline_post_header_last {
margin-bottom: 10px;
}
  
.timeline_post_header_last h2 {
font-size: 15px;
margin-bottom: 5px;
}
  
.timeline_post_header_last small {
color: #888;
}
  

.tuto_short_details_container {
    margin-bottom: 10px;
}

.tuto_short_details_container span{
    color:white;
    font-size: 12px;
}

.tutorial_modal_container {
    text-align: center;
}

.tutorial_modal_container p{
    color:white;
}

.tutorial_modal_container button[type="submit"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    }
        
.tutorial_modal_container button[type="submit"]:hover {
    background-color: #ffe6c4;
    color: black;
}