@font-face {
  font-family: "Sono";
  /* src: url("../../public/Sono-Regular.ttf"); */
  src:url("../../public/Sono-Regular.ttf")
}

#navbar-component {
  background-color: black;
  border-color: rgba(0,0,0,0);
  inset: 0px 0px 20px;
  display: block;
  overflow: visible;
  position: sticky;
  z-index: 999;
  height: 95px;
  font-family: "Sono";
}

#navbar-container {
  margin: 0px auto;
  max-width: 1300px;
  width: 100%;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  display: flex;
  border-color: rgba(0,0,0,0);
}

#navbar-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#navbar-links-container {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-family: "Sono";

}

#navbar-links-main {
  display: flex;
}

.navbar-text {
  --bs-navbar-color:white;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  height: 40px;
  padding: 0px 20px;
  background-clip: text;
  cursor: pointer;
  font-size: 20px;
  font-family: "Sono";

}

.navbar-text-logo {
  --bs-navbar-color:white;
  display: flex;
  color: #ffe6c4;
  -moz-box-align: center;
  align-items: center;
  height: 100px;
  padding: 0px 4px;
  background-clip: text;
  cursor: pointer;
  font-weight: bold;
  font-size: 26px;
  transition: background 1s;
}

.navbar-text-logo:hover {
  background: #B4184C;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#balances {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar-drop-title {
  transition: color 0.5s; /* Smooth transition */
}

#navbar-drop-title:hover {
  color: #ffcf8b;
}

#navbar-drop-link {
  transition: background-color 0.5s /* Smooth transition */
}

#navbar-drop-link-disconnect {
  background-color: #510808;
  transition: background-color 0.5s /* Smooth transition */
}

#navbar-drop-link-disconnect:hover {
  background-color: #ac0606;
}

#navbar-drop-link:hover {
  background-color: #484848;
}

/* Styles for the mobile button to show/hide the modal */
.navbar-menu-button {
  display: none; /* Hide the button on larger screens */
}

#navbar-mobile-part {
  display: flex;
}

.dropdownContent {
  background-color: black;
  position: absolute;
  width: fit-content;
  height: fit-content;
}

/* Media Query for mobile layout */
@media screen and (max-width: 1000px) { 

  .navbar-menu-button {
    display: block; /* Display the button on mobile */
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 3rem;
    cursor: pointer;
    color: #ffe6c4;
  }

  #navbar-mobile-part {
    display: none;
  }

  .navbar-text-logo {
    background-color: red;
  }

  #navbar-links-container {
    display: none;
  }

  #navbar-logo-container {
    text-align: center;
  }

  #navbar-hide-mobile {
    display: none;
  }

  /* Modal styles */
  .navbar-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .navbar-modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }

  .navbar-modal-close {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .navbar-modal-links {
    display: flex;
    flex-direction: column;
  }

  .navbar-modal-text {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}