.usersAdmin-component {
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    border: solid black 2px;
}

.usersAdmin-title {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
    color: white;
    cursor: pointer;
    font-family: "Euclid Circular B", sans-serif;
    font-size: 20px;
} 

.usersAdmin-title-div {
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.user-lists-div {
    display: flex;
    max-height: 100%;
    overflow-y: scroll;
}

.tutorial-widget {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    height: fit-content;
    padding: 10px;
}

.uplaod-form {
    padding: 10px;
    margin: 10px;
}

.submit-button {
    color: white;
    background-color: black;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    padding: 5px;
}

.tutorial-navbar {
    background-color: white;
    display: flex;
    height: fit-content;
    padding: 10px;
}

.next-button {
    margin-left: auto;
}

.tutorial-title-stage {
    color: Black;
    cursor: pointer;
    font-family: "Euclid Circular B", sans-serif;
    font-size: 30px;
}

.tutorial-title-div {
    width: 100%;
    text-align: center;
}

.publish-button {
    margin-left: auto;
    color: red;
    margin: 20px;
}

.input-nav-bar {
    border: 1px solid black;
    border-radius: 5px;
}

.input-navbar-div {
    margin-left: 10px;
    margin-right: 10px;
}

.editor-div {
    height: 700px;
}