
/* MODIFY: 
    - border thickness maybe
*/

#coinbase {
    color: #ffe6c4;
    border-color: #1e1e1e;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#metamask {
    color: #ffe6c4;
    border-color: #1e1e1e;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#binance {
    color: #ffe6c4;
    border-color: #1e1e1e;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#coinbase:hover {
    background-color: #ffe6c4;
    border-color: black;
    color:#343434;
}

#metamask:hover {
    background-color: #ffe6c4;
    border-color: black;
    color:#343434;
}

#binance:hover {
    background-color: #ffe6c4;
    border-color: black;
    color:#343434;
}

#modal_popup {
    background-color: #343434;
    color: #ffe6c4;
}

#close-modal {
    color: #ffe6c4;
}